.home{
    width: 100%;
    display: flex;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image:url(./bg2.jpg);
    background-size: cover;
    background-position: center;
}
